* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}
.header {
  background-color: #ffffff;
  width: 100%;
}
.navbar {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  text-align: center;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 120px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-image: linear-gradient(
    to top,
    rgb(14, 78, 33) 0%,
    rgb(243, 247, 243) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Copperplate", fantasy;
}
.navbar-2 {
  width: 100%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navbar-2 ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar-2 ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
}
.navbar-2 ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar-2 ul li:hover::after {
  width: 100%;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80 px;
  padding-left: 50px;
}

.navbar__links {
  color: rgb(3, 3, 3);
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  color: rgb(11, 85, 17);
}

.button:hover {
  color: #65d150;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #257bb7;
  transition: all 0.3s ease;
}

.main {
  background-color: #ffffff;
  background-size: cover;
}
.main2 {
  padding-top: 50px;
  background-color: #ffffff;
  margin: 0 auto;
  font-size: 3rem;
  width: 700px;
  text-align: center;
  color: rgb(7, 7, 7);
  padding-bottom: 50px;
  justify-content: center;
}

.main3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c d";
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(7, 7, 7);
}

.main4 {
  
  background-color: #db819b;
  margin: 0 auto;
  font-size: 2rem;
  width: 1000px;
  text-align: center;
  color: rgb(7, 7, 7);
  padding-bottom: 50px;
  position: relative;
}

.main__container {
  background-color: #ffffff;
  text-align: center;
}

.main__img--container {
  text-align: center;
  height: 25px;
  width: 400px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.main__img--container {
  text-align: center;
  height: 825px;
  width: 400px;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
.main__content {
    display: flex;
    text-align: center;
    color:rgb(11, 85, 17);
    background-color: #fdfdfc;
    
}

.img_company{
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
    
    padding-top: 50;
    
}
.img_company2{
    float: center;
    width: 49px;
    height: 100px;margin-top: 30px;
    
    
    
}

.img_shop_hat{
    float: center;
    width: 43px;
    height: auto;
    margin-right: 15px;
    
    
    
}

.img_juice__time{
    float: center;
    width: 49px;
    height: 100px;
    margin-left: 20px;
    
    
    
}

.img_cart{
    float: center;
    width: 49px;
    height: 100px;
    margin-left: 90px;
    
    
    
}

.img_about{
    float: center;
    width: 49px;
    height: 1000px;
    margin-left: 20px;
    margin-right: 80px;
    
    
}

.img_james{
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.about__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.melon__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #fdfdfc;
}
.coconut__img--container{
    
    float: left;
    margin: auto;
    background-color: #fdfdfc;
    padding-left: 50px;
}
.ogcamp__img--container{
    float: center;
    margin: auto;
    padding-left: 50px;
    background-color: #fdfdfc;
    grid-area: d;
    
}
.happycamp__img--container{
    float: left;
    margin: auto;
    background-color: #fdfdfc;
    padding-left: 50px;
    grid-area: b;
    padding-bottom: 50px;
}

.happycamp__img--container h1{
    float: left;
    margin: auto;
    background-color: #fdfdfc;
    padding-bottom: 50px;
    
}

.melonca__img--container{
    float: none;
    margin: auto;
    padding-left: 50px;
    background-color: #fdfdfc;
    grid-area: a;
    padding-bottom: 50px;
    
}



.main__about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d";
  background-color: #ffffff;
  color: #070707;
}

.card1 {
  grid-area: a;
  text-align: center;
  padding-top: 100px;
}
.card2 {
  grid-area: b;
}
.card3 {
  grid-area: c;
}
.card4 {
  grid-area: d;
}

.sidebar {
  margin: 50px;
  text-align: center;
  padding-left: 650px;
  grid-area: a;
  display: flex;
}
.sidebar h5:hover {
  color: #0358f5;
}

.main_shop {
  display: grid;
  grid-template-columns: 0.001fr 0.091fr 0.091fr;
  column-gap: 5px;
  grid-template-areas:
    "a b c"
    "d e f";
  background-color: #ffffff;
  width: 100%;
  color: rgb(7, 7, 7);
}
.img_shop_card {
  grid-area: b;
  margin-top: auto;
  margin: 50px;
  padding-left: 70px;
  margin-bottom: 50px;
  width: 100%;
}
.img_meloncamp_template{
    background-image: url("images/IMG_3774.jpg");
    width: 300px;
    height: 400px;
    background-origin: border-box;
    background-repeat: no-repeat;
    
    background-size: 300px 400px;
    background-position: 50% 50%;
}

.img_cococamp_template{
    background-image: url("images/IMG_3782.jpg");
    width: 300px;
    height: 400px;
    background-origin: border-box;
    background-repeat: no-repeat;
    
    background-size: 300px 400px;
    background-position: 50% 50%;
}

.img_ogcamp_template{
    background-image: url("images/IMG_3750.jpg");
    width: 300px;
    height: 400px;
    background-origin: border-box;
    background-repeat: no-repeat;
    
    background-size: 300px 400px;
    background-position: 50% 50%;
}

.img_happycamp_template {
  background-image: url("images/happycamp.PNG");
  width: 300px;
  height: 400px;
  background-origin: border-box;
  background-repeat: no-repeat;

  background-size: 300px 400px;
  background-position: 50% 50%;
}

.img_meloncamp_template:hover{
    background-image: url("images/IMG_3776.jpg");
}
.img_cococamp_template:hover{
    background-image: url("images/IMG_0241.jpg");
}
.img_happycamp_template:hover {
  background-image: url("images/betsy.jpg");
}
.img_ogcamp_template:hover {
  background-image: url("images/pouring.PNG");
}

.img_shop_card2 {
  grid-area: c;
  margin-top: 50px;
  margin: 50px;
  padding-left: 1px;
  margin-bottom: 50px;
}
.img_shop_card3 {
  grid-area: e;
  margin-top: auto;
  margin: 50px;
  padding-left: 70px;
}
.img_shop_card4 {
  grid-area: f;
  margin-top: auto;
  margin: 50px;
  padding-left: 1px;
}

.product-info {
    margin-top: auto;
  }

  .add-cart{
      position: center;
  }


  /* carthtml page*/

  .container.products-container {
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
      padding-bottom: 100px;
  }

  .products-container{
      max-width: 650px;
      justify-content: space-around;
      margin: 0 auto;
      margin-top: 50px;
  }

  .products-container ion-icon{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: blue;
    font-size: 25px;
}

  .product-header{
      width: 100%;
      max-width: 650px;
      display: flex;
      justify-content: flex-start;
      border-bottom: 4px solid lightgrey;
      margin: 0 auto;
  }

  .product-title {
      width: 55%;
  }

  .price{
      width: 15%;
      border-bottom: 1px solid lightgrey;
      display: flex;
      align-items: center;
  }

  .quantity{
    width: 30%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

  .total{
    width: 10%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
}

  .product{
    width: 45%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }

  .basketTotalContainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 10px 0;
  }
  .basketTotalTitle {
      width: 30%;
  }

  .basketTotal{
      width: 10%;
  }

  .products{
      width: 100%;
      display:flex;
      flex-wrap: wrap;
  }
  .products img{
      width: 75px;
  }

  .main4{
    
    display: flex;
    background-color: #fdfdfd;
    
}

.title {
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #257bb7;
}
.desc {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #257bb7;
}
.row {
  clear: both;
  display: table;
}
.column {
  width: auto;
  max-width: 100%;
}
.home_gif {
  padding: 20px;
  float: relative;
  left: 80px;
}

.address_box {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80%;
  right: 100px;
  height: 40%;
  text-align: center;
  color:#978f56;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  height: 50%;
  bottom: 100;
  grid-row: auto;
  justify-content: space-between;
}

.footer--block {
  flex: 1 1 auto;
  display: flex;

}

.info_box {
  width: 90%;
  height: 100%;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  font-family: Lato;
  /* background-color: #000000; */
  color:#978f56;
  justify-content: space-evenly;
  padding-left: 200px;
}

.gif_img{
  vertical-align: middle;
  position: relative;
  max-width: 150%;
  height: 80%;
  right: 500px;
  
}

/*google map api */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/*ion icons*/

.iconify{
    font-size: 40px;
}
