*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


.navbar {
    background-color: #fdfdfc;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: center;
    


}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 120px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}


#navbar__logo{
    background-image: linear-gradient(to top, rgb(14, 78, 33) 0%, rgb(243, 247, 243) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Copperplate', fantasy;
    
}

.fa-gem{
    margin-right: 0.5rem;

}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80 px;
}

.navbar__links{
    color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}


.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: rgb(11, 85, 17);
}

.button:hover{
    color: #65d150;
    transition: all 0.3s ease;
}

.navbar__links:hover{

    color: #65d150;
    transition: all 0.3s ease;
}

.main{
    background-color: #fdfdfc;
    background-size: cover;
    
    
}
.main2{
    padding-top: 50px;
    background-color: #fdfdfc;
    margin: 0 auto;
    font-size: 3rem;
    width: 700px;
    text-align: center;
    color: rgb(7, 7, 7);
    
    
}

.main3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d";
    background-color: #fdfdfc;
    padding-top: 50px;
    padding-bottom: 50px;
    color:rgb(7, 7, 7);
}


.main__container{
    background-color: #fdfdfc;
    text-align: center;
}






.main__img--container{
    text-align: center;
    height: 25px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.main__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.main__content {
    display: flex;
    text-align: center;
    color:rgb(11, 85, 17);
    background-color: #fdfdfc;
    
}

.img_company{
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50;
    
}
.img_company2{
    float: center;
    width: 49px;
    height: auto;
    
    
    
}

.img_james{
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.about__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.melon__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #fdfdfc;
}
.coconut__img--container{
    
    float: left;
    margin: auto;
    background-color: #fdfdfc;
    padding-left: 50px;
}
.ogcamp__img--container{
    float: center;
    margin: auto;
    padding-left: 50px;
    background-color: #fdfdfc;
    grid-area: d;
}
.happycamp__img--container{
    float: left;
    margin: auto;
    background-color: #fdfdfc;
    padding-left: 50px;
    grid-area: b;
    padding-bottom: 50px;
}

.happycamp__img--container h1{
    float: left;
    margin: auto;
    background-color: #fdfdfc;
    padding-bottom: 50px;
    
}

.melonca__img--container{
    float: none;
    margin: auto;
    padding-left: 50px;
    background-color: #fdfdfc;
    grid-area: a;
    padding-bottom: 50px;
    
}



.main__about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "c d";
    background-color: #fdfdfc;
    color:#070707;
}

.card1
{
    grid-area: a;
    text-align: center;
    padding-top: 100px;
}
.card2
{
    grid-area: b;
}
.card3
{
    grid-area: c;
    
}
.card4
{
    grid-area: d;
}

