*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}


.navbar {
    background-color: #f5d0a0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    


}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}


#navbar__logo{
    background-image: linear-gradient(to top, rgb(14, 78, 33) 0%, rgb(11, 85, 17) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Copperplate', fantasy;
    
}

.fa-gem{
    margin-right: 0.5rem;

}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80 px;
}

.navbar__links{
    color: rgb(11, 85, 17);
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}


.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20 px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    color: rgb(11, 85, 17);
}

.button:hover{
    color: #65d150;
    transition: all 0.3s ease;
}

.navbar__links:hover{

    color: #65d150;
    transition: all 0.3s ease;
}

.main{
    background-color: #f5d0a0;
    background-size: cover;
    
    
}
.main2{
    background-color: #f5d0a0;
    margin: 0 auto;
    font-size: 3rem;
    width: 500px;
    text-align: center;
    color: rgb(11, 85, 17);
    
    
}

.main3{
    background-color: #f5d0a0;
}

.main3 p{
    background-color: #f5d0a0;
    float: left;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: left;
    color: rgb(11, 85, 17);
}

.main3 h1{
    background-color: #f5d0a0;
    margin: 0 auto;
    font-size: 3rem;
    width: 4000px;
    height: 100%;
    text-align: center;
    color: rgb(11, 85, 17);
    
    
}

.main3 h2{
    background-color: #f5d0a0;
    margin: 0 auto;
    font-size: 2rem;
    width: 1000px;
    height: 100%;
    text-align: center;
    color: rgb(11, 85, 17);
    
    
}
.main__container{
    background-color: #f5d0a0;
    text-align: center;
}






.main__img--container{
    text-align: center;
    height: 25px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.main__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.main__content {
    display: flex;
    text-align: center;
    color:rgb(11, 85, 17);
    background-color: #f5d0a0;
    
}

.img_company{
    float: left;
    width: 25%;
    padding: 0px;
    text-align: center;
    
}

.img_james{
    float: right;
    max-width: 100%;
    max-height: 100%;
}

.about__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.melon__img--container{
    text-align: center;
    height: 825px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    background-color: #f5d0a0;
}
.coconut__img--container{
    
    height: 1129px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #f5d0a0;
    
}
.ogcamp__img--container{
    text-align: center;
    height: 1129px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #f5d0a0;
}
.happycamp__img--container{
    text-align: left;
    display: inline-block;
    height: 1129px;
    width: 400px;
    position: center;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #f5d0a0;
}

.happycamp__img--container h1{
    float: right;
    margin: auto;
    background-color: #f5d0a0;
}

.melonca__img--container{
    text-align: center;
    height: 1129px;
    width: 400px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #f5d0a0;
}

p{
    text-align: justify;
}